*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background-image: linear-gradient(to top, #0c1422, #101725, #121a27, #151c29, #181f2c);
}
header{
    background-image: linear-gradient(to top, #0a111e, #0a111f, #0a121f,#0b121f, #0b1320);
    height: 100px;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    border: 1px solid black;
    display: flex;
  /* justify-content: space-between; */
  color: #ffff;
  /* margin: 0 auto; */
  /* width: 100%; */
}
ul{
    display: flex;
}
.flex{
    display: flex;
}
.contaner{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    align-items: center;

}
.forhead{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link{
    text-decoration: none;
    color: #ffff;
width: 47px;
height: 22px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
font-size: 16px;
}
.link:hover{
    text-decoration: underline;
    opacity: 0.8;
}
.forlink{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.signy{
    color: white;
    background-color: rgba(58, 104, 184, 1);
    border: 0;
    width: 112px;
    height: 52px;
    border-radius: 5px;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    top: 240px;
    right: 20px;
    cursor: pointer;
}
.signy:hover{
    color: rgba(58, 104, 184, 1);
    background-color: white;
    transition: 1s;
}
button:hover{
  transition: 1s;
}
.btn{
    display: flex;
    justify-content: end;
    align-items: center;
}
.sectionn{
    background-image: linear-gradient(to top, #08101d, #08101e, #09111e);
}
.all{
    display: flex;
    gap: 114px;
    width: 100%;
}
.flb{
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-top: 50px;
}
.text{
    justify-content: center;
    /* padding-top: 89px;
    padding-left: 260px; */
    gap: 0;
    width: 50%;
    align-items: center;
    flex: 1;
    height: auto;
    top: 300px;
}
.blu{
font-weight: 400;
font-size: 18px;
color: rgba(58, 104, 184, 1);
width: 265px;
height: 29px;
text-align: start;
}
.blu:hover{
        text-decoration: underline;
    color: white;
}
.syber{
color: white;
width: 604px;
height: 142px;
font-weight: 800;
font-size: 55px;
text-align: start;
}
.syber:hover{
    opacity: 0.7;
        text-decoration: underline;

}
.lor{
    width: 558px;
height: 87px;
opacity: 0.7;
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 100;
padding: 20px;
text-align: start;
}
.lor:hover{
    opacity: 1;
        text-decoration: underline;

}
.start{
    width: 171px;
    height: 57px;
border-radius: 5px;
padding-top: 15px;
padding-right: 30px;
padding-bottom: 15px;
padding-left: 30px;
gap: 10px;
background-color: rgba(58, 104, 184, 1);
color: white;
font-weight: 600;
font-size: 20px;
border: 0;
outline: 0;
}
.start:hover{
    background-color: white;
    color: rgba(58, 104, 184, 1);

}
.vid{
    width: 217px;
height: 57px;
border-radius: 5px;
padding-top: 15px;
padding-right: 30px;
padding-bottom: 15px;
padding-left: 30px;
gap: 10px;
background-color: rgba(58, 104, 184, 1);
color: white;
font-weight: 600;
font-size: 20px;
border: 0;
outline: 0;
}
.vid:hover{
    background-color: white;
    color: rgba(58, 104, 184, 1);
}
.iconn{
    color: white;
}
.iconn:hover{
    color: rgba(58, 104, 184, 1);
}
#big{
width: 283px;
height: 57px;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
}
.header-btn {
  background: #ff9800;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}
  #menu-toggle {
    display: none;
  }

.burger {
  display: none;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: white;
}
li:hover{
  text-decoration: underline;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  nav{
    display: none;
  }
  
  .signy {
    display: none;
  }

  nav {
    top: 60px;
    right: 0;
    width: 220px;
    /* background: #111; */
    display: none;
  }

  nav ul {
    flex-direction: row;
    padding: 20px;
    gap: 15px;
  }
  #menu-toggle:checked ~ nav{
    display: block;
    background-color: #111;
    color: #ffff;
  }

  .header-btn {
    position: absolute;
    top: 240px;
    right: 20px;
  }
}

.allk {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px;
  justify-content: center;
}

.allk img {
  width: calc(25% - 10px);
  border-radius: 10px;
  width: 217px;
}

@media (max-width: 768px) {
  .allk img {
    width: calc(37% - 10px);
  }
}
@media (max-width: 580px){
  .syber{
    width: 400px;
    /* margin-bottom: 60px; */
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    align-items: center;
  }
  .lor{
    width: 458px;
    font-size: 14px;
  }
  .text{
    gap: 0px;
  }
  .start{
        width: 150px;
    height: 57px;
gap: 10px;
font-weight: 500;
font-size: 16px;
  }
  .vid{
        width: 192px;
    height: 57px;
gap: 10px;
font-weight: 500;
font-size: 16px;
  }
}


@media (max-width: 480px) {
  .allk img {
    width: calc(30% - 10px);
  }
}
@media (max-width: 950px){
  .imgh{
    display: none;
  }
}
.imgh{
  width: 632px;
  height: auto;
}
@media (max-width: 768px){
ul, nav li{
  display: none;
}
}
.brain{
  background-color: #020a18;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  gap: 70px;
  padding: 100px;
  text-align: start;
}
.phone {
  width: 35%;
  max-width: 1000px;
}
#svg{
   min-width: 250px;
}
@media (max-width: 850px){
  #svg{
    /* display: none; */
  }
  .for_text{
    justify-content: start;
  }
  
  .brain{
    flex-direction: column;
  }
}
@media screen and (max-width: 480px){
  .phone{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .for_text{
    width: 100%;
    height: 100%;
    gap: 70px;
  }
}
.for_text {
  width: 35%;
  gap: 70px;
}
.apply {
  max-width: 500px;
  min-width: 280px;
  width: 100%;
  font: 16px;
  font-weight: 500;
  flex: 1;
font-weight: 700;
font-size: 40px;
margin-bottom: 30px;
line-height: 1.5;
}
.apply:hover{
  opacity: 0.8;
  text-decoration: underline;
}
.lore {
  width: 460;
opacity: 0.7;
margin-bottom: 30px;
min-width: 270px;
}
.lore:hover{
  opacity: 1;
  text-decoration: underline;
}
.startt {
  width: 150px;
  height: 52px;
  border-radius: 5px;
  background-color: rgba(58, 104, 184, 1);
  color: white;
  gap: 10px;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 600;
margin-bottom: 30px;
}
.startt:hover{
      color: rgba(58, 104, 184, 1);
    background-color: white;
    transition: 1s;
}
.pres {
  opacity: 0.7;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
    background-image: linear-gradient(to top, #0a111e, #0a111f, #0a121f,#0b121f, #0b1320);
    color: white;
}
@media screen and (max-width: 1200px){
.pres{
  display: grid;
  grid-template-columns: auto auto;
}
}
@media screen and (max-width: 768px){
.pres{
  display: grid;
  grid-template-columns: auto;
}
#contt{
  width: 100%;
  margin: 0 auto;
}
}
#contt{
  min-width: 220px;
  border-radius: 10px;
  max-width: 362px;
  background-image: linear-gradient(to top, #0c1422, #101725, #121a27, #151c29, #181f2c);
  padding: 40px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 520px;
}
#oval{
max-width: 100px;
margin: 0 auto;
}
#gers{
font-weight: 700;
font-size: 25px;
text-align: center;
opacity: 0.7;
}
#loremn{
font-weight: 600;
font-size: 16px;
text-align: center;
opacity: 0.7;
}
.square {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(44, 54, 71, 1);
}
.squaree {
    width: 15px;
  height: 15px;
  border-radius: 50%;
  filter: blur(200deg);
  opacity: 0.8;
  background-color: rgba(44, 54, 71, 1);
}
.contaner{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.aboutr {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  padding: 50px;
  gap: 30px;
  color: white;
}
@media screen and (max-width: 1079px) {
  .aboutr{
    display: flex;
    flex-direction: column;
  }
  
}
.itemn1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h4{
font-weight: 700;
font-size: 40px;
line-height: 130%;
letter-spacing: 0%;
max-width: 548px;
margin-bottom: 40px;
min-width: 300px;
}
.loremj {
font-weight: 500;
font-size: 16px;
opacity: 0.7;
min-width: 285px;
}
.itemn2 {
  width: 40%;
  min-width: 440px;
}
.foot{
  display: flex;
  width: 100%;
justify-content: center;
color: white;
gap: 32px;
padding: 50px;
align-items: center;
}
@media screen and (max-width: 1280px){
  .foot{
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 614px){
  .foot{
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }
}

.elelmen {
  display: flex;
  flex-direction: column;
  max-width: 164px;
  width: 50%;
  min-width: 230px;
  min-height: 290px;
  gap: 20px;
  text-align: center;
  align-items: center;
}
.loremnb {
  min-width: 200px;
}
.flexxc {
  gap: 5px;
}
.opacityy {
  
font-weight: 450;
font-size: 14px;
opacity: 0.6;
}
.ppp3 {
}
.flexbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
}
select{
  width: 86px;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
}
.apple{
  width: 19px;
  height: 15px;
}
h6{
font-weight: 500;
font-size: 16px;
}