*{
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow: hidden; */
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to top, #0a111e, #0a111f, #0a121f,#0b121f, #0b1320);
    height: 100px;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    flex-wrap: wrap;
}
.contaner{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    align-items: center;

}
.forhead{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.link{
    text-decoration: none;
    color: #ffff;
width: 47px;
height: 22px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
font-size: 16px;
}
.link:hover{
    text-decoration: underline;
    opacity: 0.8;
}
.forlink{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.signy{
    color: white;
    background-color: rgba(58, 104, 184, 1);
    border: 0;
    width: 112px;
height: 52px;
border-radius: 5px;
gap: 10px;
font-weight: 400;
font-size: 16px;
align-items: center;
}
.signy:hover{
    color: rgba(58, 104, 184, 1);
    background-color: white;
}
.btn{
    display: flex;
    justify-content: end;
    align-items: center;
}
.sectionn{
    background-image: linear-gradient(to top, #08101d, #08101e, #09111e);
}
.all{
    display: flex;
    gap: 114px;
}
.flb{
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-top: 50px;
}
.text{
    justify-content: center;
    padding-top: 89px;
    padding-left: 260px;
    gap: 40px;
}
.blu{
font-weight: 400;
font-size: 18px;
color: rgba(58, 104, 184, 1);
width: 265px;
height: 29px;
text-align: start;
}
.blu:hover{
        text-decoration: underline;
    color: white;
}
.syber{
color: white;
width: 604px;
height: 142px;
font-weight: 800;
font-size: 55px;
text-align: start;
}
.syber:hover{
    opacity: 0.7;
        text-decoration: underline;

}
.lor{
    width: 558px;
height: 87px;
opacity: 0.7;
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 100;
padding: 20px;
text-align: start;
}
.lor:hover{
    opacity: 1;
        text-decoration: underline;

}
.start{
    width: 171px;
    height: 57px;
border-radius: 5px;
padding-top: 15px;
padding-right: 30px;
padding-bottom: 15px;
padding-left: 30px;
gap: 10px;
background-color: rgba(58, 104, 184, 1);
color: white;
font-weight: 600;
font-size: 20px;
border: 0;
outline: 0;
}
.start:hover{
    background-color: white;
    color: rgba(58, 104, 184, 1);

}
.vid{
    width: 217px;
height: 57px;
border-radius: 5px;
padding-top: 15px;
padding-right: 30px;
padding-bottom: 15px;
padding-left: 30px;
gap: 10px;
background-color: rgba(58, 104, 184, 1);
color: white;
font-weight: 600;
font-size: 20px;
border: 0;
outline: 0;
}
.vid:hover{
    background-color: white;
    color: rgba(58, 104, 184, 1);
}
.allk{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding-left: 100px;
    padding-top: 30 px;
    gap: 70px;
}   
.iconn{
    color: white;
}
.iconn:hover{
    color: rgba(58, 104, 184, 1);
}
#imh{
width: 283px;
height: 57px;
}